#drawing {
  border: 1px solid #cccccc;
  background-color: #9a9a9a;
}

.hidden {
  display: none;
}

#score {
  border: solid orange;
  border-width: 4px;
  height: 35px;
  width: 120px;
  border-radius: 33px;
  background-color: rgb(255, 237, 204);

  position: absolute;
  left: 60px;
  top: 30px;
  color: orange;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

/* #score div {
  height: 39px;
  width: 28px;
  background-image: url(../img/startsquare.png);
} */

.start-screen {
  position: absolute;
  top: 10px;
  /* bottom: 5; */
  left: 9px;
  /* right: 5; */
  /* display: grid; */
}

.start-screen-content {
  position: absolute;
  top: 200px;
  left: 700px;
  /* display: grid; */
  /* height: 100%;
  width: 100%; */
}

.game-title {
  color: orange;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  justify-self: center;
  /* margin-top: 9%; */
}

.start-button {
  height: 66px;
  width: 244px;
  background: orange;
  border-radius: 33px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  justify-self: center;
}

.restart-button {
  position: absolute;
  left: 500px;
  top: 400px;

  height: 60px;
  width: 220px;
  background: orange;
  border-radius: 33px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  justify-self: center;
}
